@model Empleado

@{
    Departamento departamento =
            ViewData["DEPARTAMENTOSELECCIONADO"] as Departamento;
}

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <button id="primero">
            Primero
        </button>
    </li>
    <li class="list-group-item">
        <button id="anterior" onclick='loadEmpleado(@ViewData["ANTERIOR"], @ViewData["POSICION"])'>
            Anterior
        </button>
    </li>
    <li class="list-group-item">
        <button id="siguiente"
           asp-route-posicion="@ViewData["SIGUIENTE"]"
           asp-route-iddepartamento="@ViewData["DEPARTAMENTO"]">
            Siguiente
        </button>
    </li>
    <li class="list-group-item">
        <button id="ultimo"
           asp-route-posicion="@ViewData["ULTIMO"]"
           asp-route-iddepartamento="@ViewData["DEPARTAMENTO"]">
            Ultimo
        </button>
    </li>
</ul>

<ul class="list-group" id="detalleempleado">
    <li class="list-group-item list-group-item-info">
        Id Empleado: @Model.IdEmpleado
    </li>
    <li class="list-group-item list-group-item-info">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item list-group-item-info">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item list-group-item-info">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item list-group-item-info">
        Departamento: @Model.IdDepartamento
    </li>
</ul>


@section Scripts {
    <script>
        $(document).ready(function () {
            function loadEmpleado(posicion, iddept) {
                var request = "Paginacion/EmpleadosDepartamentoAjax?posicion=" + posicion + "&iddepartamento=" + iddept;
                console.log(request);
                $("#detalleempleado").load(request);
            }

            $("#primero").click(function () {
                console.log("Hola");
                loadEmpleado(1, @ViewData["POSICION"]);
            });

            $("#anterior").click(function () {
                loadEmpleado("@ViewData["ANTERIOR"]", "@ViewData["POSICION"]");
            });

            $("#siguiente").click(function () {
                loadEmpleado("@ViewData["SIGUIENTE"]", "@ViewData["DEPARTAMENTO"]");
            });

            $("#ultimo").click(function () {
                loadEmpleado("@ViewData["ULTIMO"]", "@ViewData["DEPARTAMENTO"]");
            });
        });
        })
    </script>
}