<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <button id="primero" value="@ViewData["DEPARTAMENTO"]">
            Primero
        </button>
    </li>
    <li class="list-group-item">
        <button id="anterior"
           asp-route-posicion="@ViewData["ANTERIOR"]"
           asp-route-iddepartamento="@ViewData["DEPARTAMENTO"]">
            Anterior
        </button>
    </li>
    <li class="list-group-item">
        <button id="siguiente"
           asp-route-posicion="@ViewData["SIGUIENTE"]"
           asp-route-iddepartamento="@ViewData["DEPARTAMENTO"]">
            Siguiente
        </button>
    </li>
    <li class="list-group-item">
        <button id="ultimo"
           asp-route-posicion="@ViewData["ULTIMO"]"
           asp-route-iddepartamento="@ViewData["DEPARTAMENTO"]">
            Ultimo
        </button>
    </li>
</ul>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#primero").click(function () {
                var posicion = 1
                var iddept = $("#primero").val();
                var request = "/Paginacion/EmpleadosDepartamentoAjax?posicion=" + id + "&iddepartamento=" + iddept;
                $("#detallescoche").load(request);
            })
            $("#anterior").click(function () {
                // Controller/Action?parametro=valor
                //SI RECIBIMOS MAS DE UN PARAMETRO
                // Controller/Action?param1=valor&param2=valor
                var id = $("#cajaidcoche").val();
                var request = "/Coches/_DetailsCoche?posicion=" + id;
                $("#detallescoche").load(request);
            })
        })
    </script>
}