@model Empleado

@{
    Departamento departamento =
            ViewData["DEPARTAMENTOSELECCIONADO"] as Departamento;
}

<h1>Empleados Registro Departamento</h1>
<p>
    <a asp-controller="Paginacion"
       asp-action="DepartamentosAjax">
        Volver a departamentos
    </a>
</p>

<ul class="list-group">
    <li class="list-group-item list-group-item-danger">
        Id Departamento: @departamento.IdDepartamento
    </li>
    <li class="list-group-item list-group-item-info">
        Nombre: @departamento.Nombre
    </li>
    <li class="list-group-item list-group-item-info">
        Localidad: @departamento.Localidad
    </li>
</ul>

<h2 style="color:blue">
    Registro @ViewData["POSICION"] de @ViewData["REGISTROS"]
</h2>

<div>
     <partial name="_PaginacionPartial"/>
</div>
<hr />
<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        Id Empleado: @Model.IdEmpleado
    </li>
    <li class="list-group-item list-group-item-info">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item list-group-item-info">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item list-group-item-info">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item list-group-item-info">
        Departamento: @Model.IdDepartamento
    </li>
</ul>